/* --- General style --- */

body {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14pt;
}
section {
    /* To fix navigation overlapping problem*/
    padding-top:80px;
    margin-top:-80px;
    outline:none;
}
@media screen and (max-width: 1080px) {
    section {
        padding-top: 160px;
        margin-top: -160px;
    }
}
@media screen and (max-width: 739px) {
    section {
        padding-top: 68px;
        margin-top: -68px;
    }
}

section .inside {
    padding:40px 30px;
    text-align:center;
}
#main {
    height:100vh;
    width:100%;
    position:relative;
}
/* smartphone small */
@media screen and (max-width: 359px) {
    h1 {
        font-size: 1.8em;
    }
    body {
        font-size: 13pt;
    }
}
#about h1, #deals h1, #services h1, #contact h1, #custom.embedded h1{
    font-weight: 300;
    margin-top:0;
}

/* --- Header and menu --- */

header{
    background: #ffffff;
    position:fixed;
    width:100%;
    height:235px;
    top:0;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,0.4);
    transition: height 0.4s;
    z-index:1;
}
header img {
    display:none;
    height:90px;
    margin-left:5%;
    margin-top:7px;
    transition: height 0.4s;
}
header .nav-container {
    text-align:center;
}
header nav {
    font-size: 24pt;
    display:inline-block;
    position:relative;
    padding-top:25px;
    margin-top: 25px;
    border-top: 3px solid #e0e0e0;
    transition: all 0.4s;
}
header nav a {
    font-variant:small-caps;
    text-decoration:none;
    color:#272727;
    margin-left:25px;
    transition: color 0.4s;
}
header nav a:hover {
    color: #a25b57;
}
header nav a:first-child {
    margin-left:0;
}
header nav a.active {
    color: #c9352c;
}
header .headline {
    margin-top: 30px;
} 
header .headline a {
    text-decoration: none;
}
header h1 {
    font-family: 'Merriweather', 'Times New Roman', serif;
    font-size: 27pt;
    color:#313131;
    margin-bottom:10px;
    text-align:center;
}
header h2 {
    font-size: 24pt;
    color:#737373;
    margin:0;
    font-weight:normal;
    text-align:center;
}
/* Header small*/
header.small {
    height:80px;
}
header.small .headline{
    display:none;
}
header.small img.logo{
    display:inline-block;
}
header.small img {
    height:60px;
}
header.small nav {
    line-height:80px;
    vertical-align: middle;
    position:absolute;
    right: 5%;
    top:0;
    margin: 0;
    padding: 0;
    border: none;
}
/* tablet big */
@media screen and (max-width: 1230px) {
    header.small nav {
        right: 3%;
        font-size: 21pt;
    }
    header.small img.logo {
        height: 52px;
        margin-top: 14px;
    }
}
/* tablet small */
@media screen and (max-width: 1080px) and (min-width: 740px){
    header nav{
        font-size: 20pt;
    }
    header.small {
        height: 160px;
    }
    header.small nav {
        position:relative;
        top: 0px;
        right: auto;
        font-size: 20pt;
    }
    header .logo-wrapper {
        text-align:center;
    }
    header img {
        margin:0;
    }
}
/* smartphone */
@media screen and (max-width: 739px) {
    header nav {
        display:none; 
        transition:none;
        background: #fff;
        margin-top: 12px;
        padding: 5px 77px;
        padding-bottom: 20px;
        border-top: none;
        box-shadow: 0 6px 9px -5px rgba(0,0,0,0.4);
        font-size: 18pt;
    }
    header {
        height: 68px;
    }
    header .headline{
        margin-top: 15px;
    }
    header h1, header h2 {
        text-align:left;
        margin-left: 77px;
    }
    header h1 {
        font-size: 13pt;
        margin-bottom: 6px;
    }
    header h2 {
        font-size: 10pt;
    }
    header .logo-wrapper {
        margin-left: 65px;
    }
    header #nav-toggle {
        background: url('../assets/menu.svg');
        display:block;
        width: 32px;
        height: 32px;
        position:absolute;
        top: 18px;
        left: 22px;
    }
    header .nav-container {
        text-align:left;
    }
    header nav a {
        display:block;
        padding: 10px 0;
        margin: 0;
    }
}
/* smartphone small */
@media screen and (max-width: 359px) {
    header #nav-toggle {
        width: 30px;
        height: 30px;
        top: 18px;
        left: 14px;
    }
    header h1 {
        font-size: 12.4pt;
    }
    header h2 {
        font-size: 9.4pt;
    }
    header h1, header h2 {
        margin-left: 60px;
    }
    header nav {
        padding-left: 60px;
        font-size: 16pt;
    }
}

/* --- Start section --- */

#start .content {
    background: linear-gradient(#f7f1f1 20%, #fff);
    position:relative;
    text-align:center;
    height:calc(100vh - 235px);
    max-height: 750px;
    margin-top:235px;
}
#start .image-container {
    position:absolute;
    top: 33%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-33%);
    width: 55%;
    animation-name: flying-airplane;
    animation-duration: 4s;
}
@media screen and (max-width: 1230px) {
    #start .image-container {
        width: 75%;
    }
}
@keyframes flying-airplane {
    from { left: -40% }
    to { left: 50% }
}
#start img.logo {
    width:100%;
    max-width: 1050px;
}
#start .number-container {
    position:absolute;
    top: 82%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-82%);
}
#start .emergency-number {
    position:relative;
    display:inline-block;
    margin-top:4vh;
    padding:10px 30px;
    padding-left:60px;
    text-decoration:none;
    font-size:24pt;
    color:#fff;
    background: url('../assets/phone.svg') #c9352c 12px center/32px no-repeat;
    transition: background-color 0.2s;
}
#start .emergency-number:hover{
    background-color:#98312b;
}
/* smartphone */
@media screen and (max-width: 739px) {
    #start .content {
        margin-top: 68px;
        height: calc(100vh - 68px);
        max-height: 400px;
    }
    #start .image-container {
        width: 90%;
    }
    #start .emergency-number {
        font-size: 14pt;
        padding: 10px 12px;
        padding-left: 45px;
        background-size: 25px;
        background-position-x: 10px;
    }
}
/* smartphone small */
@media screen and (max-width: 359px) {
    #start .emergency-number {
        font-size: 12pt;
    }
}

/* --- About section --- */

#about h1 {
    text-align: left;
    position: relative;
    left: calc(30% + 20px);
    width: 60%;
}
#about .main-text {
    float: right;
    width: 70%;
    vertical-align:top;
    text-align:left;
    padding: 0 20px;
    box-sizing: border-box;
}
#about .image-gallery {
    float: left;
    width: 30%;
    margin-top: 20px;
}
#about .image-gallery a {
    text-decoration:none;
}
#about .image-gallery img.big {
    width: 90%;
    max-width:370px;
    object-fit: contain;
}
#about .image-gallery img.small {
    width: 25%;
    height: 25%;
    margin: 3.5%;
    margin-top: 5%;
    max-width: 100px;
    display: inline-block;
}
#about .image-gallery .lightbox .caption {
    color: #fff;
    margin: 0 auto;
    margin-top: 10px;
}
#about .clear {
    clear: both;
}
/* smartphone */
@media screen and (max-width: 739px)  {
    #about h1 {
        text-align:center;
        left: auto;
        width: 100%;
    }
    #about .image-gallery {
        float:none;
        width: 100%;
    }
    #about .image-gallery .img-small {
        margin: 15px;
        margin-top: 20px;
    }
    #about .main-text {
        width: 100%;
    }
}

/* Lightbox (copyright by Gregory Schier, source https://codepen.io/gschier/pen/HCoqh) */

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    /*line-height:100vh;*/
    text-align: center;
    top: 0;
    left: 0;
    background: #000000cc;
    overflow-y: auto;
}
.lightbox img {
    max-width: 80%;
    max-height: 75%;
    margin-top: 60px;
    vertical-align: middle;
}
.lightbox:target {
    outline: none;
    display: block;
}
.lightbox a.next, .lightbox a.prev, .lightbox span.close {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: -30px 15px;
}
.lightbox a.prev {
    margin-left: -65px !important;
    background: url('../assets/arrow-left.svg') center/40px no-repeat;
}
.lightbox a.next {
    margin-right: -65px !important;
    background: url('../assets/arrow-right.svg') center/40px no-repeat;
}
.lightbox span.close {
    background: transparent;
    border: none;
    position: absolute;
    margin-left: -15px !important;
    margin-top: 20px !important; 
    background: url('../assets/cross.svg') center/20px no-repeat;
}
/* smartphone */
@media screen and (max-width: 739px) {
    .lightbox img {
        max-width: 63%;
    }
}
/* smartphone small */
@media screen and (max-width: 359px) {
    .lightbox a.next, .lightbox a.prev, .lightbox span.close {
        font-size: 18pt;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: -35px 4px;
    }
}

/* --- Deals section --- */

#deals .inside {
    background: #c9352c;
    color: #fff;
}
#deals .deals-wrapper {
    margin-top: 40px;
}
#deals .deal {
    display:inline-block;
    width: 29%;
    text-align:center;
    vertical-align:top;
    margin-right:1%;
    margin-bottom: 20px;
}
#deals .deal .icon-wrapper {
    width:120px;
    height:120px;
    border: 2px solid #fff;
    border-radius: 110px;
    display:inline-block;
}
#deals .deal img.icon {
    height:60px;
    padding:28px 0;
}
#deals .deal .reduced-by {
    margin: -15px auto;
    padding: 10px 15px;
    margin-bottom: 40px;
    background: #fff;
    color: #c9352d;
    width: 90px;
    font-size: 17pt;
    transform: rotate(-5deg);
}
/* smartphone */
@media screen and (max-width: 739px) {
    #deals .deal {
        width: 70%;
    }
}

/* --- Services section --- */

#services .inside{
    border-bottom: 5px solid #c9352c;
}
#services .category {
    width:30%;
    display:inline-block;
    vertical-align: top;
    margin-bottom:20px;
    text-align:left;
}
#services .category .nowrap {
    white-space: nowrap;
}
#services .category span {
    font-family: 'Merriweather', 'Times New Roman', serif;
    font-size:17pt;
    margin-left: 10px;
    display:inline-block;
    max-width:85%;
    vertical-align: bottom;
    white-space:normal;
}
#services .category img {
    display:inline-block;
    width:32px;
    vertical-align:top;
}
#services .external-logos a {
    text-decoration:none;
    color:#000;
}
#services .logo {
    display: inline-block;
    width: 9%;
    min-width: 70px;
    max-width: 115px;
    margin-right: 5%;
    vertical-align: middle;
    line-height:100%;
    margin-top:15px;
}
#services .logo img {
    width: 100%;
    vertical-align:middle;
}
#services .logo img.cl {
    display: none;
}
#services .logo:hover img.sw, #services .logo:active img.sw {
    display:none;
}
#services .logo:hover img.cl, #services .logo:active img.cl {
    display: block;
}
/* tablet small */
@media screen and (max-width: 1080px) {
    #services .category {
        width: 45%;
    }
}
/* smartphone */
@media screen and (max-width: 739px) {
    #services .category {
        width: 85%;
    }
}
/* smartphone small */
@media screen and (max-width: 359px) {
    #services .category {
        width: 100%;
    }
    #services .category span {
        font-size: 16pt;
    }
}

/* --- Contact section --- */

#contact .inside {
    background: #c9352c;
    color:#fff;
    font-size: 15pt;
}
#contact .inside a {
    color:#fff;
    text-decoration:none;
    border-bottom: 1px solid transparent;
    transition: border 0.3s;
}
#contact .inside a:hover {
    border-color: #fff;
}
#contact .box {
    display: inline-block;
    width: calc(50% - 90px);
    vertical-align: middle;
    text-align: left;
    padding: 10px 0;
    padding-left: 90px;
    box-sizing:border-box;
    background-size: 50px;
    background-position: 10px center;
    background-repeat: no-repeat;
}
#contact .location {
    background-image: url('../assets/location.svg');
}
#contact .location span {
    display:block;
}
#contact .phones {
    background-image: url('../assets/phone.svg');
}
#contact .phones span {
    width: 185px;
    display:inline-block;
}
#contact .opening-hours {
    background-image: url('../assets/clock.svg');
}
#contact .opening-hours span.label {
    font-weight:bold;
}
#contact .opening-hours span.sel {
    width: 145px;
    display:inline-block;
}
#contact .email {
    background-image: url('../assets/mail.svg');
}
#contact .email a {
    display:block;
    display:table;
}
/* tablet small */
@media screen and (max-width: 1080px) {
    #contact .box {
        width: 45%;
    }
    #contact .phones span {
        display:block;
        font-weight:bold;
    }
    #contact .phone {
        margin-bottom: 7px;
    }
    #contact .email a {
        margin-bottom: 7px;
    }
}
/* smartphone */
@media screen and (max-width: 739px) {
    #contact .box {
        width: 80%;
        margin-bottom: 15px;
    }
    #contact .sel {
        font-style: italic;
    }
    #contact .val {
        display:block;
    }
    #contact .hours1 {
        margin-bottom: 10px;
    }
}
/* smartphone small */
@media screen and (max-width: 359px) {
    #contact .inside {
        font-size: 13pt;
    }
    #contact .box {
        width: 100%;
    }
}

/* Contact Form */

#lb-contact .form-inside {
    background: #f9f9f9;
    color:#000;
    padding: 20px;
    margin: 50px;
    text-align: left;
    display:inline-block;
}
#lb-contact label{
    margin-bottom: 10px;
}
#lb-contact .checkbox label {
    font-size: 10pt;
}
#lb-contact input:focus, #lb-contact textarea:focus {
    box-shadow: none;
    border-color: #c9352c;
}
#lb-contact .required label:after {
    color: #c9352c;
}
#lb-contact input[type=submit] {
    background: #c9352c;
    width: 50%;
}
#lb-contact input[type=submit]:hover{
    background: #b13028;
    cursor:pointer;
}
#lb-contact input[type=submit]:disabled {
    background: #dca6a8;
}
#lb-contact a.close {
    background: #c9352c;
    width: 32px;
    height: 32px;
    color: #fff;
    line-height: 32px;
    border-radius: 17px;
    position: relative;
    display: inline-block;
    text-align: center;
    bottom: 36px;
    left: 100%;
    text-decoration: none;
}
/* smartphone */
@media screen and (max-width: 739px) {
    #lb-contact .form-inside {
        margin: 20px;
    }
}

/* Map */

#contact iframe {
    width: 100%;
    display:block;
}

/* --- Footer --- */

footer {
    background: #171717;
    color: #fff;
    text-align: center;
    padding: 20px;
}
footer .footer-text {
    display:inline-block;
    margin-right:15px;
}
footer nav {
    display:inline-block;
}
footer nav a{
    color: #fff;
    text-decoration:none;
    margin-right: 10px;
    border-bottom: 1px solid #6b6b6b;
    transition: border 0.3s;
}
footer nav a:hover {
    border-color: #fff;
}

/* --- Custom section --- */

.go-back {
    text-align:center;
    margin: 40px 0;
}
.go-back a{
    color: #fff;
    background:#194871 url('../assets/arrow-left.svg') 8px/20px no-repeat;
    padding: 7px 15px;
    padding-left: 35px;
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.3s;
}
.go-back a:hover {
    background-color: #1a5a90;
}
#custom.single .inside{
    width: 70%;
    margin: 0 auto;
    padding-top: 0;
    text-align: left;
    margin-bottom: 40px;
}
#custom.single h1 {
    margin-bottom: 40px;
    padding-bottom: 13px;
    border-bottom: 3px solid #194871;
    color: #194871;
    text-align:center;
}
#custom.red .inside {
    background: #c9352c;
    color: #fff;
}