body {
    font-family: 'Lato', Arial, sans-serif;
}
/* Header general*/
header{
    background: #ffffff;
    position:fixed;
    width:100%;
    height:235px;
    top:0;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,0.4);
    transition: height 0.4s;
    z-index:1;
}
header img {
    display:none;
    height:90px;
    margin-left:5%;
    margin-top:7px;
    transition: height 0.4s;
}
header .nav-container {
    text-align:center;
}
header nav {
    font-size: 21pt;
    display:inline-block;
    position:relative;
    padding-top:25px;
    margin-top: 25px;
    border-top: 3px solid #e0e0e0;
    transition: all 0.4s;
}
header nav a{
    font-variant:small-caps;
    text-decoration:none;
    color:#272727;
    margin-left:25px;
    transition: color 0.4s;
}
header nav a:first-child {
    margin-left:0;
}
header nav a.active {
    color: #c9352c;
}
header .headline {
    margin-top: 30px;
}
header h1 {
    font-family: 'Merriweather', 'Times New Roman', serif;
    font-size: 27pt;
    color:#313131;
    margin-bottom:10px;
    text-align:center;
}
header h2 {
    font-size: 24pt;
    color:#737373;
    margin:0;
    font-weight:normal;
    text-align:center;
}
/* Header small*/
header.small {
    height:80px;
}
header.small .headline{
    display:none;
}
header.small img.logo{
    display:inline-block;
}
header.small img {
    height:60px;
}
header.small nav {
    line-height:80px;
    vertical-align: middle;
    position:absolute;
    right: 5%;
    top:0;
    margin: 0;
    padding: 0;
    border: none;
}
section {
    /* To fix navigation overlapping problem*/
    padding-top:80px;
    margin-top:-80px;
    outline:none;
}
section .inside {
    padding:40px 30px;
    text-align:center;
    min-height: 52vh;
}
#main {
    height:100vh;
    width:100%;
    position:relative;
}

/* --- Start section --- */

#start {
    height:100vh;
    width:100%;
}
#start .content {
    background: linear-gradient(#efefef 20%, #fff);
    position:relative;
    text-align:center;
    height:calc(100vh - 235px);
    margin-top:235px;
}
#start .image-container {
    position:absolute;
    top: 25%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-25%);
    width: 50%;
    animation-name: flying-airplane;
    animation-duration: 4s;
}
@keyframes flying-airplane {
    from { left: -25% }
    to { left: 50% }
}
#start img.logo {
    margin: 10vh 0;
    width:100%;
    max-width: 950px;
}
#start .number-container {
    position:absolute;
    top: 80%;
    left:50%;
    margin-right:-50%;
    transform: translate(-50%,-80%);
}
#start .emergency-number {
    position:relative;
    display:inline-block;
    margin-top:4vh;
    padding:10px 30px;
    padding-left:60px;
    text-decoration:none;
    font-size:20pt;
    color:#fff;
    background: url('../assets/phone.png') #c9352c 12px center/32px no-repeat;
    transition: background-color 0.2s;
}
#start .emergency-number:hover{
    background-color:#c9352c;
}

/* --- About section --- */

#about .main-text {
    display:inline-block;
    width: 65%;
    vertical-align:top;
    max-width:900px;
    text-align:left;
    font-size:14pt;
}
#about h1, #deals h1, #services h1, #contact h1{
    font-weight: 300;
    margin-top:0;
}
#about .image-gallery {
    display:inline-block;
    width:25%;
    margin-right:3%;
}
#about .image-gallery a {
    text-decoration:none;
}
#about .image-gallery img.big {
    width: 90%;
    max-width:370px;
}
#about .image-gallery img.small {
    margin-right:3.5%;
    margin-left:3.5%;
    width:25%;
    max-width:100px;
    margin-top:7%;
}

/* Lightbox (copyright by Gregory Schier, source https://codepen.io/gschier/pen/HCoqh) */

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    line-height:100vh;
    text-align: center;
    top: 0;
    left: 0;
    background: #000000cc;
}
.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
    vertical-align: middle;
}
.lightbox:target {
    outline: none;
    display: block;
}

/* --- Deals section --- */

#deals .inside {
    background: #c9352c;
    color: #fff;
}

/* --- Services section --- */

#services .inside{
    border-top: 5px solid #c9352c;
}
#services .category {
    width:30%;
    display:inline-block;
    vertical-align: top;
    margin-bottom:20px;
    text-align:left;
}
#services .category span {
    font-family: 'Merriweather', 'Times New Roman', serif;
    font-size:17pt;
    margin-left: 10px;
    display:inline-block;
    max-width:85%;
    vertical-align: bottom;
}
#services .category img {
    display:inline-block;
    width:7%;
    vertical-align:top;
}
#services .category li {
    font-size:14pt;
}
#services .external-logos a {
    text-decoration:none;
    color:#000;
}
#services .logo {
    display: inline-block;
    width: 9%;
    max-width: 115px;
    margin-right: 5%;
    vertical-align: middle;
    line-height:100%;
    margin-top:15px;
}
#services .logo img {
    width: 100%;
    vertical-align:middle;
}
#services .logo img.cl {
    display: none;
}
#services .logo:hover img.sw, #services .logo:active img.sw {
    display:none;
}
#services .logo:hover img.cl, #services .logo:active img.cl {
    display: block;
}

/* --- Contact section --- */

#contact .inside {
    background: #c9352c;
    color:#fff;
}
#contact .inside a {
    color:#fff;
    text-decoration:none;
}

/* --- Footer --- */
footer {
    background: #313131;
    color: #fff;
    text-align: center;
    padding: 20px;
}
footer .footer-text {
    display:inline-block;
    margin-right:15px;
}
footer nav {
    display:inline-block;
}
footer nav a{
    color: #c9352c;
    text-decoration:none;
}