<section id="custom" class="{{ meta.custom.type }}" itemscope itemtype="https://schema.org/WebPage">
  <div class="inside">
    <div class="inside-content">
      {{ content }}
    </div>  
  </div>
</section>