<footer itemscope itemtype="http://schema.org/WPFooter">

    <div class="footer-text">
        &copy; {{ 'now'|date('Y') }} {{ meta.footer.copyright_text }}
    </div>
    <nav class="footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
        {% for elem in meta.footer.links %}
            {% for page in pages %}
                {% if page.id == elem.link %}<a href="{{ page.url }}">{{ elem.label }}</a>{% endif %}
            {% endfor %}
        {% endfor %}
    </nav>

</footer>